.partner-container {
  max-width: 900px;
  margin: 10px auto 60px auto;
  padding: 40px;
}

.partner-container h1 {
  margin-bottom: 20px;
}

.partner-container h3 {
  margin-top: 30px;
}

.partner-container ul {
  padding-left: 20px;
}
