.signup-section {
  min-height: 150vh;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.card {
  border-radius: 1rem;
  width: 600px;
}

.btn-primary {
  background-color: #ff6b6b;
  border: none;
}

.btn-primary:hover {
  background-color: #ff4c4c;
}

.form-label {
  font-weight: 500;
}
